node_modules
npm-debug.log
dist
.env
.env.*
.git
.gitignore
.gitattributes
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.prettier*
.eslint*
.husky
src
tsconfig.json
jest.config.js
docker-compose.yml
Dockerfile
README.md
.npm
.yarn
coverage
logs
.turbo
